.search-box{
       -fx-background-color: #1234;
       -fx-background-radius: 100;
}

.transparent{
 -fx-background-color: rgba(0,0,0,0);
 -fx-text-fill: #d1c5c8;
}

.search-button{
    -fx-background-color: #1234;
    -fx-background-radius: 30;
}

.right-bar{
 -f-background-color: #837C7A;
}

.shadow{
 -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 , 10.0);
}

.chosen-card{
-fx-background-radius: 30;
}